body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    width: fit-content;
    margin-top: 15%;
}

.big {
    font-size: 64pt;
    /* font-weight: bold; */
}
.small {
    font-size: 11pt;
    color: dimgrey;
}
